<div class="container">
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-success">
          <h3>Assign Activities to the Role</h3>
          <span class="example-spacer"></span>
          <button mat-raised-button color="success" (click)="openDialog()">Add Profile</button>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
            <div class="col-4">
              <label for="">Role</label>
              <select class="form-control" [(ngModel)]="selectedRoleId" name="selectedRoleId">
                <option value="">Select </option>
                <option *ngFor="let role of roles?.roles" [value]="role.id">{{role.name}}</option>
              </select>
            </div>
            <div class="col-4">
              <label for="">Activities</label>
              <select class="form-control" [(ngModel)]="selectedActivityId" name="selectedActivityId">
                <option value="">Select </option>
                <option *ngFor="let activity of activities" [value]="activity.id">{{activity?.name}}</option>
              </select>
            </div>

            <div class="col-4">
              <label>Select Permissions:</label>
              <div class="form-check" *ngFor="let permission of permissions">
                <input type="checkbox" class="form-check-input" (change)="updateSelectedPermissions($event,permission)" [value]="permission.value" name="selectedPermission">
                <label class="form-check-label">{{permission.name}}</label>
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-success m-2"  (click)="onAssignActivity()">Assign Activity</button>
            <!-- <button class="btn btn-sm btn-success" *ngIf="!role.id" (click)="addRole()">Add Role</button> -->
            <!-- <button class="btn btn-sm btn-success" *ngIf="role.id" (click)="updateRole()">Update Role</button> -->
          </form>
       </div>
       </div>
       </div>
      </div>
    </div>
