<!-- <mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name"></h1>
  <span class="example-spacer"></span>
  <a mat-raised-button routerLink="/login">Log Out</a>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing"><mat-icon>settings</mat-icon>User Management</span>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="..."><mat-icon>account_circle</mat-icon>Profile</a>
				<a mat-list-item href="..."><mat-icon>people</mat-icon>User</a>
        <a mat-list-item routerLink="/activity"><mat-icon>toc</mat-icon>Activity</a>
			</div>
		</mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container> -->

<!-- <router-outlet></router-outlet> -->